*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: hsl(30, 16%, 83%);
    
}

.containner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
}

.img-desktop{
    display: none;
}

.img-mobile{
    width: 320px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

main{
    width: 320px;
    height: auto;
}

main h2{
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0 30px 50px;
    opacity: 0.7;
    letter-spacing: 2px;
}

main h1{
    display: block;
    width: 70%;
    font-size: 20px;
    margin: 0 0 30px 20px;
    
}

main p{
    display: block;
    font-size: 11px;
    font-weight: 700;
    line-height: 2;
    margin-left: 20px;
    margin-bottom: 30px;
    opacity: .8;
}

.price-container{
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 20px;
}

.price-container h1{
    font-size:20px;
    color: rgb(25, 78, 25);
    margin-left: 15px;
}

.price-container h2{
    text-decoration: line-through;
    margin-bottom: 40px;
    font-weight: 700;
    opacity: .5;
    margin-right: 70px;
}

button{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    text-decoration: none;
    background: none;
    border: none;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    background-color: rgb(25, 78, 25);
    
}

.btn:hover{
    background-color: rgb(15, 47, 15);
}

.footer{
    margin-top: 50px;
}

@media  (min-width: 720px) {

    .card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
    }

    .img-mobile {
        display: none;
      
    }

    .img-desktop{
        display: block;
        min-width: 330px;
        border-radius:10px 0 0 10px ;
    }

    main{
        width: 320px;
       margin: 20px 0;
    }

}







